<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Créer un Tirage</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3 mt-3">
        <form class="form-control" th:object = "${tirage}" method="POST" enctype="multipart/form-data" th:action="@{/tirages/save}">


            <div class="mb-3 mt-3">
                <label for="dateTirage" class="form-label">Date </label>
                <input id="dateTirage" type="Date" name="dateTirage" class="form-control"
                       th:field="${tirage.dateTirage}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="nombreAppartement" class="form-label">Nombre d'Appartements:</label>
                <input id="nombreAppartement" type="text" name="nombreAppartement" class="form-control"
                       th:field="${tirage.nombreAppartement}" required>
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label">Procès Verbal:</label>
                <input type="file" name="file" class="form-control">
            </div>


            <div class="card" >
                <div class="card-header">Les beneficiaires</div>
                <div class="card-body">

                    <table class="table table-striped table-bordered align-middle">
                        <thead class="table-dark">
                        <tr class="text-center">
                            <th>ID</th>
                            <th>CNIE</th>
                            <th>Nom</th>
                            <th>Resultat</th>

                        </tr>
                        </thead>
                        <tbody th:object="beneficiaires">
                        <tr class="text-center align-middle" th:each="t status : ${beneficiaires}  ">

                            <td th:text="${t.beneficiaireId}"  ></td>
                            <td th:text="${t.cin}"></td>
                            <td th:text="${t.prenom}+' '+${t.nom}"></td>
                            <td>  <input class="form-check-input" th:field="${beneficiaires[__${status.index}__].resultat}"  type="checkbox" id="resultat" th:checked="${t.resultat}"> </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>







            <button type="submit" class="btn btn-primary">Enregister</button>
        </form>








    </div>

</div>
</body>
</html>