<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <title>Tirages</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">

        <div class="mb-3 mw-15">
            <a class="btn btn-primary"
               th:href="@{/tirages/formCreate}" th:text="#{button.add}">Ajouter</a>
        </div>

        <div class="card">
            <div class="card-header" th:text="#{tirage.list}">Liste des Tirages</div>
            <div class="card-body">

                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th th:text="#{id}" class="dt-center">ID</th>
                        <th th:text="#{date}" class="dt-center">Date</th>
                        <th th:text="#{nombreBeneficiaires}" class="dt-center">Nombre de bénéficiaires</th>
                        <th th:text="#{procesVerbal}" class="dt-center">Procès Verbal</th>
                        <th th:text="#{action}" class="dt-center">Action</th>



                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center align-middle" th:each="tirage:${listTirages}">
                        <td th:text="${tirage.tirageId}"></td>
                        <td th:text="${#dates.format(tirage.dateTirage, 'yyyy-MM-dd')}"></td>
                        <td th:text="${tirage.nombreAppartement}"></td>
                        <td>
                            <a th:href="@{/tirages/download/{id}/{fileName}(id=${tirage.tirageId},fileName=${tirage.pvTirage})}" th:text ="${tirage.pvTirage}" target="_blank"> </a>
                        </td>
                        <td>
                            <a  class="btn btn-light btn-link" th:href="@{/tirages/tirageDetails(tirageId=${tirage.tirageId})}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                </svg>
                            </a>

                            <a class="btn btn-link btn-light"
                               th:href="@{/tirages/formUpdate(tirageId=${tirage.tirageId})}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#33cc33" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                                </svg>
                            </a>

                            <a  class="btn btn-link btn-light" th:href="@{/tirages/delete(tirageId=${tirage.tirageId})}" onclick="return confirm('Are you sure')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff0000" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                            </a>
                        </td>

                    </tr>
                    <tr th:if="${#lists.isEmpty(listTirages)}"  class="text-center align-middle">
                        <td colspan="5" th:text="#{noResult}" class="text-secondary">The list is empty.</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>