<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <title>tirage</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">

        <div class="mb-3 mw-15">
            <a class="btn btn-primary"
               th:href="@{/tirages/formCreate}">Ajouter</a>
        </div>

        <div class="card">
            <div class="card-header">Liste des Tirages</div>
            <div class="card-body">

                <table class="table">
                    <thead>
                    <tr class="text-center">

                        <th>Tirage ID</th>
                        <th>Date</th>
                        <th>Nombre d'appartements</th>
                        <th>PV</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center align-middle" th:each="tirage:${listTirages}">
                        <td th:text="${tirage.tirageId}"></td>
                        <td th:text="${#dates.format(tirage.dateTirage, 'yyyy-MM-dd')}"></td>
                        <td th:text="${tirage.nombreAppartement}"></td>
                        <td>
                            <a th:href="@{/tirages/download/{id}/{fileName}(id=${tirage.tirageId},fileName=${tirage.pvTirage})}" th:text ="${tirage.pvTirage}" target="_blank"> </a>
                        </td>
                        <td>
                            <a class="btn btn-success"
                               th:href="@{/tirages/formUpdate(tirageId=${tirage.tirageId})}">Modifier</a>
                            <a class="btn btn-danger" onclick="return confirm('Are you sure')"
                               th:href="@{/tirages/delete(tirageId=${tirage.tirageId})}">Supprimer</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>