<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <script >
        $(document).ready( function () {

        $('#myTable').DataTable( {
        language: {
            url : '/DataTables/arab.json'
        },
            "iDisplayLength": 25
        } );

    }
    );

    </script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <title th:text="#{tirage.details}">Tirage Détail</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">

        <div class="card">
            <div class="card-header" th:text="#{tirage.details}">Tirage en détail</div>
            <div class="card-body">

                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th th:text="#{id}" class="dt-center">ID</th>
                        <th th:text="#{date}" class="dt-center">Date</th>
                        <th th:text="#{nombreBeneficiaires}" class="dt-center">Nombre de bénéficiaires</th>
                        <th th:text="#{procesVerbal}" class="dt-center">Procès Verbal</th>



                    </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center align-middle" th:object="${tirage}">
                            <td th:text="${tirage.tirageId}"></td>
                            <td th:text="${#dates.format(tirage.dateTirage, 'yyyy-MM-dd')}"></td>
                            <td th:text="${tirage.nombreAppartement}"></td>
                            <td>
                                <a th:href="@{/tirages/download/{id}/{fileName}(id=${tirage.tirageId},fileName=${tirage.pvTirage})}" th:text ="${tirage.pvTirage}" target="_blank"> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



            <div class="card">
                <div class="card-header" th:text="#{beneficiaire.header}">Les bénéficiaires</div>
                <div class="card-body">
                        <table id="myTable" class="table table-striped table-bordered">
                            <thead class="table-dark">
                            <tr class="">
                                <th th:text="#{beneficiaire.id}" class="dt-center">ID</th>
                                <th th:text="#{beneficiaire.CNIE}" class="dt-center">CNIE</th>
                                <th th:text="#{beneficiaire.nomComplet}" class="dt-center">Nom</th>
                                <th th:text="#{adresse}" class="dt-center">adress</th>
                                <th th:text="#{appartement.adress}" class="dt-center">adress</th>
<!--
-->
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="participation, stat:${tirage.participations}">
                                <tr class="text-center align-middle" th:each="beneficiaire:${participation.beneficiaires}">
                                    <td th:text="${beneficiaire?.getBeneficiaireId()}"></td>
                                    <td th:text="${beneficiaire?.cin}"></td>
                                    <td th:text="${beneficiaire?.nom}"></td>
                                    <td th:text="${beneficiaire}!=null?${#strings.concat(beneficiaire?.maison?.recensement?.boulevard,' زنقة ',beneficiaire?.maison?.maisonRue,' رقم ',beneficiaire?.maison?.maisonNumero)}"></td>
                                    <td th:text="${#strings.concat(participation.appartement?.adresse,' عمارة ',participation.appartement?.numeroImmeuble,' الطابق ',participation.appartement?.etage,' رقم ',participation.appartement?.numeroAppartement)}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                </div>
            </div>

    </div>
</div>
</body>
</html>