<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <title th:text="#{beneficiaire.header}">Bénéficiaires</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">

        <div class="card">
            <div class="card-header" th:text="#{beneficiaire.details}" >Détails du Bénéficiaire</div>
            <div class="card-body">
                <div class="row row-cols-3 ">
                    <div class="col">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title" th:text="#{beneficiaire.id}">Attribute 1</h6>
                            <p class="card-text" th:text="${beneficiaire.beneficiaireId}"></p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <h6 class="card-title" th:text="#{beneficiaire.nomComplet}">Attribute 2</h6>
                            <p class="card-text" th:text="${beneficiaire.nom}"></p>
                        </div>

                        <div class="d-flex justify-content-between"><h6 class="card-title" th:text="#{beneficiaire.nombreEnfant}">Nombre Enfant</h6>
                            <p class="card-text" th:text="${beneficiaire.nombreEnfant}"></p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <h6 class="card-title" th:text="#{beneficiaire.typeResidence}">Type de Residence</h6>
                            <p class="card-text" th:text="${beneficiaire.typeResidence}"></p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <h6 class="card-title" th:text="#{beneficiaire.etage}">Etage</h6>
                            <p class="card-text" th:text="${beneficiaire.etage}"></p>
                        </div>

                    </div>
                    <div class="col"></div>
                    <div class="col">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title" th:text="#{beneficiaire.CNIE}">Attribute 5</h6>
                            <p class="card-text" th:text="${beneficiaire.cin}"></p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <h6 class="card-title" th:text="#{beneficiaire.situationFamiliale}">Attribute 6</h6>
                            <p class="card-text" th:text="${beneficiaire.situationFamiliale}" ></p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <h6 class="card-title" th:text="#{beneficiaire.situationResident}">Attribute 7</h6>
                            <p class="card-text" th:text="${beneficiaire.situationResident}"></p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <h6 class="card-title" th:text="#{beneficiaire.observations}">Attribute 8</h6>
                            <p class="card-text" th:text="${beneficiaire.observations}"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" th:text="#{maison.header}" >Détails du Maison</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th th:text="#{maison.id}">maison ID</th>
                        <th th:text="#{maison.proprietaire}">Proprietaire</th>
                        <th th:text="#{maison.adresse}">Adresse</th>
                        <th th:text="#{maison.nombreFamille}">Nombre Famille</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center align-middle" th:object="${maison}">
                        <td th:text="${beneficiaire.maison.maisonID}"></td>
                        <td th:text="${beneficiaire.maison.proprietaire}"></td>
                        <td th:text="${#strings.concat(beneficiaire.maison.recensement.boulevard,' زنقة ',beneficiaire.maison.maisonRue,' رقم ',beneficiaire.maison.maisonNumero)}"></td>
                        <td th:text="${beneficiaire.maison.nombreFamille}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>



        <div class="card">
            <div class="card-header" th:text="#{beneficiaire.header}">Les bénéficiaires</div>
            <div class="card-body">

                <table class="table table-striped table-bordered align-middle">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th th:text="#{beneficiaire.id}">beneficiaire ID</th>
                        <th th:text="#{beneficiaire.CNIE}">CNIE</th>
                        <th th:text="#{beneficiaire.nomComplet}">Nom</th>
                        <th th:text="#{beneficiaire.situationFamiliale}">Situation Familiale</th>
                        <th th:text="#{beneficiaire.nombreEnfant}">Nombre D'enfant</th>
                        <th th:text="#{beneficiaire.situationResident}">Situation Resident</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center align-middle" th:each="benef:${beneficiaire.maison.beneficiaires}">
                        <td th:text="${benef.beneficiaireId}"></td>
                        <td th:text="${benef.cin}"></td>
                        <td th:text="${benef.nom}"></td>
                        <td th:text="${benef.situationFamiliale}"></td>
                        <td th:text="${benef.nombreEnfant}"></td>
                        <td th:text="${benef.situationResident}"></td>

                    </tr>
                    </tbody>
                </table>


            </div>
        </div>







    </div>
</div>
</body>

</html>