<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Créer un Bénéficiaire</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3 mt-3 mb-5">
        <form class="form-control" th:object = "${beneficiaire}" method="POST" th:action="@{/beneficiaires/update(beneficiaireId=${beneficiaire.beneficiaireId})}">
            <div class="mb-3 mt-3">
                <label for="cin" class="form-label">CNIE </label>
                <input id="cin" type="text" name="cin" class="form-control"
                       th:field="${beneficiaire.cin}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="prenom" class="form-label">Prénom </label>
                <input id="prenom" type="text" name="prenom" class="form-control"
                       th:field="${beneficiaire.prenom}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="nom" class="form-label">Nom </label>
                <input id="nom" type="text" name="nom" class="form-control"
                       th:field="${beneficiaire.nom}" required>
            </div>


            <div class="mb-3 mt-3 form-control">
                <label class="form-label">Situation Familiale </label>
                <div>
                    <div class="btn-group btn-group-toggle  " data-toggle="buttons">
                        <label class="btn btn-secondary" th:each="status : ${#lists.toList({'célibataire', 'marié', 'veuf'})}">
                            <input type="radio" th:name="status" th:value="${status}" th:field="${beneficiaire.situationFamiliale}" th:checked="${status ==beneficiaire.situationFamiliale}"> <span th:text="${status}"></span>
                        </label>
                    </div>
                </div>
            </div>





            <div class="mb-3 mt-3">
                <label for="nombreEnfant" class="form-label">Nombre Enfant </label>
                <input id="nombreEnfant" type="text" name="nombreEnfant" class="form-control"
                       th:field="${beneficiaire.nombreEnfant}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="situationResident" class="form-label">Situation Resident </label>
                <input id="situationResident" type="text" name="situationResident" class="form-control"
                       th:field="${beneficiaire.situationResident}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="typeResidence" class="form-label">Type Residence </label>
                <input id="typeResidence" type="text" name="typeResidence" class="form-control"
                       th:field="${beneficiaire.typeResidence}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="etage" class="form-label">Etage </label>
                <input id="etage" type="text" name="etage" class="form-control"
                       th:field="${beneficiaire.etage}">
            </div>
            <div class="mb-3 mt-3">
                <label for="Observations" class="form-label">Observations </label>
                <textarea id="Observations" name="Observations" class="form-control"
                       th:field="${beneficiaire.Observations}">
                </textarea>
            </div>



            <button type="submit" class="btn btn-primary">Enregister</button>
        </form>
    </div>

</div>
</body>
</html>