<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" th:href="@{/}">Accueil</a>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/recensements/index}" role="button" >Recensements</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" th:href="@{/tirages/index}" role="button" d>Tirages</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" th:href="@{/maisons/index}" role="button" >Maisons</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" th:href="@{/beneficiaires/index}" role="button" >Bénéficiaires</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<section layout:fragment="content1">
        Hello everybody
</section>
</body>
</html>