<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <title>maison</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">Liste des maison</div>
            <div class="card-body">

                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>maison ID</th>
                        <th>Proprietaire</th>
                        <th>Boulevard</th>
                        <th>Adresse</th>
                        <th>Nombre Famille</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" th:each="maison:${listMaisons}">
                        <td th:text="${maison.maisonID}"></td>
                        <td th:text="${maison.proprietaire}"></td>
                        <td th:text="${maison.boulevard}"></td>
                        <td th:text="Rue+' '+${maison.maisonRue}+' '+ ${maison.maisonNumero}"></td>
                        <td th:text="${maison.nombreFamille}"></td>
                        <td>
                            <a class="btn btn-danger" onclick="return confirm('Are you sure')"
                               th:href="@{/maison/delete(maisonID=${maison.maisonID}, keyword=${keyword})}">Delete</a>

                            <a class="btn btn-success"
                               th:href="@{/maison/formUpdate(maisonID=${maison.maisonID})}">Update</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>