<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <title>Clotures</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">

        <div class="mb-3 mw-15">
            <a class="btn btn-primary"
               th:href="@{/clotures/formCreate}">Ajouter</a>
        </div>

        <div class="card">
            <div class="card-header">Liste des Clotures</div>
            <div class="card-body">

                <table class="table">
                    <thead>
                    <tr class="text-center">

                        <th>Cloture ID</th>
                        <th>Date</th>
                        <th>PV</th>
                        <th>Maisons</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center align-middle" th:each="cloture:${listClotures}">
                        <td th:text="${cloture.clotureId}"></td>
                        <td th:text="${#dates.format(cloture.clotureDate, 'yyyy-MM-dd')}"></td>
                        <td>
                            <a th:href="@{/clotures/download/{id}/{fileName}(id=${cloture.clotureId},fileName=${cloture.pvCloture})}" th:text ="${cloture.pvCloture}" target="_blank"> </a>
                        </td>
                        <td>
                            <div th:each="beneficiaire:${cloture.beneficiaires}">
                                <label  th:text="${beneficiaire.beneficiaireId} +' '+${beneficiaire.maison.recensement.boulevard}+' '+${beneficiaire.maison.maisonRue}+' '+${beneficiaire.maison.maisonNumero}"></label>
                            </div>
                        </td>

                        <td>
                            <a  class="btn btn-light btn-link" th:href="@{/clotures/clotureDetails(clotureId=${cloture.clotureId})}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                </svg>
                            </a>
                            <a class="btn btn-success"
                               th:href="@{/clotures/formUpdate(clotureId=${cloture.clotureId})}">Modifier</a>
                            <a class="btn btn-danger" onclick="return confirm('Are you sure')"
                               th:href="@{/clotures/delete(clotureId=${cloture.clotureId})}">Supprimer</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>